*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: system-ui;
  background-color: hsl(300deg 45% 95%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button {
  min-width: 30%;
}

.button:hover {
  filter: brightness(85%);
  /* filter: sepia(); */
}
