.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form > h2 {
  margin-bottom: 0;
}

.form__fields {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form__label {
  font-size: 0.8rem;
}

.form__input,
.form__button {
  padding-inline: 20px;
  padding-block: 10px;
  font: inherit;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid var(--granite);
}

.form__button {
  background-color: var(--granite);
  color: var(--foam);
}

.form__button:hover {
  background-color: var(--nemo);
  border-color: var(--nemo);
}

/* invalid form */

.form--invalid .form__input {
  border-color: red;
  outline-color: red;
}

.form--invalid .form__button {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
